.auth__page_date{
 display: block;
 width: 100%;
 height: 60px;
 border-radius:8px;
 background-color: #F5F5F5;
 border: 0px;
 border-radius:8px;
 margin-bottom:20px;
}

.auth__page label{
    font-size: 19px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom:20px;
}

.auth__page_label_date{
 display: block;
}

.auth__page_checkbox_container{
    position: relative;
}

.auth__page_checkbox{
    appearance: none;
    position: absolute;
}

.auth__page_label{
    font-size:16px;
    line-height: 400;
    line-height: 19px;
    color:#444;
    padding-left:34px;
}

.auth__page_label::before{
content:"";
display: block;
width: 20px;
height:20px;
border-radius:4px;
background-color: #fff;
position: absolute;
top: 0;
left: 0;
z-index: 1;
border: 1px solid #000;
}

.auth__page_label::after{
    content:"";
    display: block;
    width: 14px;
    height: 14px;
    background-color: #4A67FF;
    border-radius: 2px;
    opacity: 0;
    position:absolute;
    top: 4px;
    left: 4px;
    z-index: 2;
}

.auth__page_checkbox:checked + .auth__page_label::after{
    opacity: 1;
}




.auth__page button{
    width: 100%;
    height:60px;
    background-color:#4A67FF;
    border: 0px;
    color:#FFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    margin-top:40px;
    
}
